body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

.icon-container {
    margin-bottom: 20px;
}

.icon-container img {
    width: 60px;
    height: 60px;
}

h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #007BFF;
}

h2 {
    font-size: 18px;
    margin: 0 0 20px 0;
    color: #333333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
    color: #666666;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    width: calc(100% - 22px);
}

button {
    padding: 10px;
    background: linear-gradient(to right, #007BFF, #00D4FF);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to right, #0062CC, #00A8CC);
}

.flash-messages {
    margin-top: 20px;
}

.flash-message {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
