<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<h1>抖抖</h1> <!-- 标题：登录 -->
<form method="post">
    <label for="username">用户名:</label> <!-- 用户名输入框 -->
    <input type="text" id="username" name="username"><br><br>
    <label for="password">密码:</label> <!-- 密码输入框 -->
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="登录"> <!-- 提交按钮 -->
</form>
<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
<div>{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
</p> <!-- 显示闪存消息 -->
</body>
</html>
