<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>登录</title>
</head>
<body>
<div class="login-container">
    <img src="{{ url_for('static', filename='lock-icon.png') }}" alt="Lock Icon" class="login-icon">
    <h2 class="login-title">数据需求分析系统</h2>
    <h3 class="login-subtitle">登录</h3>
    <form method="post">
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username">
        <label for="password">密码:</label>
        <input type="password" id="password" name="password">
        <button type="submit">登录</button>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </form>
</div>
</body>
</html>
